<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="net.schmizz.sshj" level="OFF"/>
    <logger name="java.net.SocketInputStream"  level="OFF"/>
    <logger name="java.net.SocketOutputStream"  level="OFF"/>

    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>

    <if condition='"true".equalsIgnoreCase(property("debug"))'>
        <then>
            <logger name="org.springframework.web" level="DEBUG"/>
        </then>
    </if>

    <if condition='"true".equalsIgnoreCase(property("trace"))'>
        <then>
            <logger name="org.springframework.web" level="DEBUG"/>
        </then>
    </if>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-10.10thread | %5p | %-36.36logger{36} | %m%n</pattern>
        </encoder>
    </appender>

    <springProfile name="production,staging">
        <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
            <graylogHost>${HOST}</graylogHost>
            <graylogPort>12201</graylogPort>
            <encoder class="de.siegmar.logbackgelf.GelfEncoder">
                <originHost>${HOST}</originHost>
                <includeRawMessage>false</includeRawMessage>
                <includeMarker>true</includeMarker>
                <includeMdcData>true</includeMdcData>
                <includeCallerData>true</includeCallerData>
                <includeRootCauseData>true</includeRootCauseData>
                <includeLevelName>true</includeLevelName>
                <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%m%nopex</pattern>
                </shortPatternLayout>
                <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%m%n</pattern>
                </fullPatternLayout>
                <numbersAsString>false</numbersAsString>
                <staticField>ms:${MS_NAME}</staticField>
                <staticField>env:${ACTIVE_PROFILE}</staticField>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="local,production-local,staging-local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="production,staging">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="GELF"/>
        </root>
    </springProfile>

</configuration>
